<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    
    <div class="login-wrap">
        <div class="login-html">
            <div id="message" ></div>
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <!-- login -->
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="loginBtn" type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </div>
                <!-- register -->
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="inputUserName" class="label">Username</label>
                        <input id="inputUserName" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="inputPass" class="label">Password</label>
                        <input id="inputPass" type="password" class="input" data-type="password">
                    </div>

                    <div class="group">
                        <label for="file" class="label">Choose file</label>
                        <input id="inputFile" type="file" class="input" >
                    </div>

                    <div class="group">
                        <input id="registrBtn" type="submit" class="button" value="Sign Up">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="./js/utils.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>